**QUESTION 1**

Program to print first 20 non-even prime numbers

In [11]:
count = 0
odd_prime = -1
while count < 20:
  is_prime = True
  odd_prime += 2
  for i in range(3, odd_prime, 2):
    if odd_prime%i == 0:
      is_prime = False
      break
  if odd_prime != 1 and is_prime:
    print(odd_prime)
    count = count+1

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73



---


**QUESTION 2**

 Program to implement 15 functions of string

In [37]:
s1 = "PriyanKa"
s2 = "tomar"
print(s1+s2)
print(s1.swapcase())
print(s1.upper())
print(s1.lower())
print(s1.isalpha())
print(s1.replace('P','R'))
print(len(s1))
print(s1.islower())
print(s1.isdigit())
#print(center(s1))

PriyanKatomar
pRIYANkA
PRIYANKA
priyanka
True
RriyanKa
8
False
False



---


**QUESTION 3**

 given string is a Palindrome or Anagram or None of them

In [20]:
def is_palindrome(first_string, second_string):
    first_string = first_string.lower()
    second_string = second_string.lower()
    return first_string == second_string[::-1]

def is_anagram(first_string, second_string):
    first_string = first_string.lower()
    second_string = second_string.lower()
    if len(first_string) != len(second_string):
        return False
    first_string = sorted(first_string)
    second_string = sorted(second_string)

    return first_string == second_string

first_string = input('Enter First String: ')
second_string = input('Enter Second String: ')

palindrome = is_palindrome(first_string,second_string)
anagram = is_anagram(first_string,second_string)
 
if palindrome:
  print('Strings are Palindrome')
if anagram:
  print('Strings are Anagram ')
if (not(palindrome or anagram)):
  print('Strings are not palindrome or anagram')

Enter First String: kakao
Enter Second String: oakak
Strings are Palindrome
Strings are Anagram



---


**QUESTION 4**



User defined function that removes all the additional characters from the string and converts it to lower case

In [3]:
def replace_char(y):
  invalid = ['!','@','#','$','%','^','&','*','(',')','?','<','>','/','{','}','=','+','-','_',':',';',',',' ']
  for i in invalid:
    y = y.replace(i, '')
    y = y.lower()
  print("After removing all character and Converting string to upper case string is:",y)
s3 = "Priyanka tomAr, Course:AI-ML, By- LetsUpgrade"
replace_char(s3)

After removing all character and Converting string to upper case string is: priyankatomarcourseaimlbyletsupgrade